# CMake
/build/
/build-*/

# clangd
/.cache/
compile_commands.json
*.pch

# Nix
/result
/result-*

# direnv
/.direnv/

# VS Code
/.vscode/

# TI68k binaries
*.89z
*.9xz
*.v2z

# Doxygen
doc/html/*
doc/latex/*
lib/doc/html/*
lib/doc/latex/*
